# 산술연산

- 판다스 객체의 산술연산은 내부적으로 3단계 프로세스
    1. 행/ 열 인덱스를 기준으로 모든 원소를 정렬
    2. 동일한 위치에 있는 원소끼리 일대일로 대출
    3. 일대일 대응이 되는 원소끼리 연산 처리
        - 대응되는 원소가 없으면 NaN 처리

# 시리즈와 숫자

- 시리즈 객체에 숫자를 더하면 시리즈의 개별 원소에 각각 숫자를 더하고 계산한 결과를 시리즈 객체로 반환
- 덧셈, 뺼셈, 곱셉, 나눗셈 모두 가능

In [2]:
import pandas as pd

In [3]:
ages = pd.Series([137, 61, 90, 66, 56, 45, 41, 77])

In [4]:
ages

0    137
1     61
2     90
3     66
4     56
5     45
6     41
7     77
dtype: int64

In [5]:
ages + 100

0    237
1    161
2    190
3    166
4    156
5    145
6    141
7    177
dtype: int64

In [7]:
ages - 10

0    127
1     51
2     80
3     56
4     46
5     35
6     31
7     67
dtype: int64

In [8]:
ages * 2

0    274
1    122
2    180
3    132
4    112
5     90
6     82
7    154
dtype: int64

In [9]:
ages / 100

0    1.37
1    0.61
2    0.90
3    0.66
4    0.56
5    0.45
6    0.41
7    0.77
dtype: float64

In [10]:
ages ** 2

0    18769
1     3721
2     8100
3     4356
4     3136
5     2025
6     1681
7     5929
dtype: int64

In [11]:
ages // 2

0    68
1    30
2    45
3    33
4    28
5    22
6    20
7    38
dtype: int64

In [12]:
ages % 2

0    1
1    1
2    0
3    0
4    0
5    1
6    1
7    1
dtype: int64

# 시리즈와 시리즈

- 같은 인덱스를 가진 원소끼리 계산

- 인덱스에 연산 결과를 매칭하여 새 시리즈를 반환

In [13]:
ages + ages

0    274
1    122
2    180
3    132
4    112
5     90
6     82
7    154
dtype: int64

In [14]:
ages * ages

0    18769
1     3721
2     8100
3     4356
4     3136
5     2025
6     1681
7     5929
dtype: int64

In [18]:
se1 = pd.Series({"키" : 161, "몸무게" : 74, "나이" : 20})
se2 = pd.Series({"나이" : 67, "키" : 168, "몸무게" : 81})

In [19]:
se1

키      161
몸무게     74
나이      20
dtype: int64

In [20]:
se2

나이      67
키      168
몸무게     81
dtype: int64

In [21]:
se1 + se2

나이      87
몸무게    155
키      329
dtype: int64

In [22]:
se1 - se2

나이    -47
몸무게    -7
키      -7
dtype: int64

In [23]:
se1*se2

나이      1340
몸무게     5994
키      27048
dtype: int64

In [24]:
se1 / se2

나이     0.298507
몸무게    0.913580
키      0.958333
dtype: float64

- 인덱스의 순서가 서로 다르지만 판다스는 같은 인덱스끼리 연산을 수행

- 연산을 수행하는 두 시리즈의 원소 개수가 다르거나 인덱스 값이 다른 경우
    - 정상적으로 연산 처리 불가능
        - NaN

In [25]:
# 길이가 다른 시리즈 연산
ages + pd.Series([1, 100])

0    138.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

- 길이가 다른 시리즈를 연산하면 인덱스가 일치한 데이터만 계산

In [28]:
# NaN 값이 있는 시리즈 연산
se1 = pd.Series({"키" : None, "몸무게" : 74, "나이" : 20})
se2 = pd.Series({"키" : 168, "몸무게" : 81})

In [29]:
se1

키       NaN
몸무게    74.0
나이     20.0
dtype: float64

In [30]:
se2

키      168
몸무게     81
dtype: int64

In [31]:
se1 + se2

나이       NaN
몸무게    155.0
키        NaN
dtype: float64

In [32]:
se1 - se2

나이     NaN
몸무게   -7.0
키      NaN
dtype: float64

In [33]:
se1 * se2

나이        NaN
몸무게    5994.0
키         NaN
dtype: float64

In [34]:
se1 /se2

나이         NaN
몸무게    0.91358
키          NaN
dtype: float64

# 연산 메서드

- 결과가 NaN으로 반환되는 상황을 막기 위해 연산 메서드에 fill_value 옵션을 설정할 수 있음

In [35]:
se1

키       NaN
몸무게    74.0
나이     20.0
dtype: float64

In [36]:
se2

키      168
몸무게     81
dtype: int64

In [42]:
# 덧셈
se1.add(se2, fill_value = 0)

나이      20.0
몸무게    155.0
키      168.0
dtype: float64

In [44]:
# 뺄셈
se1.sub(se2, fill_value = 0)

나이      20.0
몸무게     -7.0
키     -168.0
dtype: float64

In [45]:
# 곱셈
se1.mul(se2, fill_value = 1)

나이       20.0
몸무게    5994.0
키       168.0
dtype: float64

In [46]:
# 나눗셈
se1.div(se2, fill_value = 1)

나이     20.000000
몸무게     0.913580
키       0.005952
dtype: float64